.content {
  &:nth-child(n + 4) ~ .content {
    margin-top: 2rem;
  }
  img {
    width: 200px;
    height: 200px;
    border-bottom: 3px solid var(--red-900);
  }

  .footerCard {
    display: flex;
    justify-content: space-between;
    margin: 0.75rem 0;

    svg {
      color: var(--red-900);
      transition: 0.2s;
      font-size: 1.4rem;
    }
  }
}

.blockFavorite {
  cursor: not-allowed;
}
.Favorite {
  cursor: pointer;
}
