.footer {
  height: 200px;
  background: var(--red-500);

  display: flex;
  align-items: center;
  justify-content: center;

  h4 {
    font-size: 6rem;
    color: var(--white);
    font-family: "Bebas Neue";
    border-bottom: 1px solid white;
  }
}
